body {
  padding: 2rem;
  background: #5801cb;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dotSec {
  background-color: #7141c4;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: lightgoldenrodyellow;
  margin: 30px 50px;
}

section:nth-child(3) {
  background-color: aqua;
}

section:first-child {
  align-self: flex-start;
}

.newsletter {
  margin-top: 30px;
}

h1 {
  font-size: 1rem;
}

form {
  width: 500px;
  padding: 20px;
}

label {
  display: block;
  padding: 10px 0;
}