/* Parent Container */
ul {
  background-color: lightblue;
  padding: 20px;
  height: 300px;
  display: flex;

  /* Flex Direction - direction in which the children are displayed */
  /* Values: row(default), row-reverse(default reverse), column, column-reverse */
  /* flex-direction: row-reverse; */

  /* Flex Wrap - wrap children when screen is to small to fit them all properly */
  /* Values: nowrap(default), wrap, wrap-reverse */
  /* flex-wrap: wrap; */

  /* Flex Flow - shorthand for direction and wrap properties */
  /* Values: 1st value direction 2nd value wrap */
  flex-flow: row-reverse wrap;

  /* Justify Content - aligns children on main axis to specified value */
  /* Values: flex-start(default), flex-end, center, space-between, space-around, space-evenly */
  /* - space between makes sure that everything contained is even but the ends
  - space around makes each child have same space on its right and left
  - space evenly makes sure all the spacing is even between all children */
  justify-content: space-evenly;

  /* Align Items - align children from the cross axis based on flex direction */
  /* Values: stretch(default), flex-start, flex-end, center, baseline */
  /* - baseline aligns from the base of the text axis */

  /* Align Content - used to style multiple lines to keep items in a group */
  /* Values: stretch(default), flex-start, flex-end, space-between, space-around, space-evenly */
  align-content: space-evenly;

  /* Perfect Center: justify-content: center; with align-items: center; */
}

/* Child of Container */
li {
  list-style: none;
  color: white;
  background-color: blue;
  margin: 20px;
  padding: 10px;
  width: 100px;
  text-align: center;

  /* Order - allows to reorder items in a container */
  /* Values: 0(default), a positive or negative number located on the main axis */
  /* positive is closer to flex-end while negative is closer to flex-start */

  /* Flex Grow - takes up the the extra white space that is available */
  /* Values: 0(default) any positive number */

  /* Flex Shrink - shrinks the items to fit the screen is on by default */
  /* Values: 1(default) 0(OFF) */

  /* Flex Basis - initialize the size of the item */
  /* Values: auto(default) positive integer in pixels rem etc */

  /* Flex Shorthand */

  
}

li:nth-child(3) {
  order: 1;
}

li:nth-child(5) {
  order: 3;
}

li:nth-child(8) {
  order: -3;
}

li:nth-child(6) {
  flex-grow: 1;
}

li:nth-child(4) {
  flex-shrink: 0;
}

li:nth-child(7) {
  flex-basis: 10rem;
}