* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 252, 222);
  height: 100vh;

  /* initiating flexbox and center aligning */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 400px;
  background-color: rgb(166, 248, 159);
}

.section .content p:first-of-type {
  text-align: center;
  color: aqua;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.section .content h3 {
  text-align: right;
}